/*
* @Author: hanjiyun
* @Date:   2017-06-05 10:27:06
* @Last Modified by:   Jiyun
* @Last Modified time: 2017-12-21 11:33:32
*/

#exporter-btn-wrap {
  position: fixed;
  width: 0;
  height: 0;
  top: 10px;
  right: 5px;
  z-index: 10000;
  text-align: center;
}

a#exporter-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100px;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  display: block;
  background: green;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}

a#exporter-btn:hover {
  opacity: .8;
}

#exporter-logger {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 1;
}

ul#exporter-log-list {
  width: 260px;
  max-height: 300px;
  overflow: scroll;
  margin: 10px;
  list-style: none;
  text-align: left;
  line-height: 1.7;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
  border-radius: 3px;
}


#exporter-log-list li {
  list-style: none;
  padding: 4px 10px;
  font-size: 12px;
}
